/* Banner CSS Start */
.banner-home a {
    text-decoration: none;
}

.banner-home {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: #fff;
}

.cardbox {
    background-color: #494769;
}

.banner-home .card-align-pro {
    text-align: left !important;
}

.banner-home .cardbox-for-bg {
    background-color: #fbe9e78a;
}

.Home-Banner-Caroucel-Text {
    text-align: left;
    padding-left: 40px !important;
}

.Home-Banner-Caroucel-Text .Banner-Carousel-Heading {
    font-size: 29px !important;
    line-height: 24px !important;
}

.Home-Banner-Caroucel-Text .Banner-Carousel-Bold {
    font-size: 50px;
}

.Banner-Caroucel-text {
    font-size: 20px !important;
    font-weight: 300 !important;
}

.Banner-Caroucel-subHead {
    color:#fff;
}

.Banner-Caroucel-subHead {
    font-size: 18px !important;
    font-weight: 300 !important;
}

.Home-banner-owl a:hover {
    color: white !important;
    cursor: pointer;
}

.banner-home .owl-theme .owl-dots .owl-dot.active span {
    background: #ff5722 !important;
    width: 15px !important;
    height: 4px !important;
}

.banner-home .owl-theme .owl-dots .owl-dot span {
    width: 6px !important;
    height: 6px !important;
}

@media(max-width:992px) {
    .banner-home .cardbox {
        min-width: 18em;
    }

    .banner-home .scroll-card {
        overflow: scroll;
    }
}

/* Banner CSS Completed */
.Offers-Banner .Limited-Offer-tag {
    display: inline-block;
    padding: 0.25em 0.625em;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.175rem;
}

.Offers-Banner button {
    color: #494769;
    background-color: #ecedf3;
    border-color: #494769;
    box-shadow: unset;
}

.Offers-Banner .fa {
    font-size: 23px;
}

/* Best Seller */
.best-seller-product-title {
    margin-bottom: 0.25rem;
    font-size: .875rem;
    font-weight: 500;
    color: black !important;
}

.BS-Heading {
    color: #fe4a4c;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

@media(max-width:768px) {
    .BS-Heading {
        margin-top: 15px;
    }
}

.best-seller-product-price {
    font-size: .875rem;
    color: #4e54c8 !important;
}

.best-sellers-products a {
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.best-seller-product-title:hover {
    color: #ff5722 !important;
}

.BS-Product-item {
    border-bottom: 1px solid #dbd9d9;
}

.BS-Product:last-child {
    border-bottom: none;
}

/* Client Caroucel */
.client-caroucel .owl-carousel .owl-item img {
    width: 65%;
}

.owl-carousel .owl-item img {
    width: 100%;
}

/* Product cards heading button css */
.cards-moreproduct-btn {
    background-color: #163551;
    /* border-color: rgba(78, 84, 200, .35); */
    color: #fff;
    font-size: 17px;
    padding: 0.425rem 1rem;
    border-radius: 8px;
    font-weight: 400
}

.cards-moreproduct-btn:hover {
    color: #163551;
    background: #fff;
    border-color: #163551;
    transition-duration: 0.8ms;
}

/* Skleton css of product cards */
.Skeleton-products .skel1div ,.Skeleton-products h2,.Skeleton-products h3,
.Skeleton-products h1,.Skeleton-bestseller .selskeldiv1 ,.Skeleton-bestseller h2,.Skeleton-bestseller h3  {
    background: linear-gradient(to right, #ffffff00, #ffffff80 50%, #ffffff00 80%), #efecec;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
}
@keyframes shine {
    to {
        background-position: 100% 0;
    }
}
.Skeleton-products .skel1div {
    height: 150px;
    width: 100%;
}

.Skeleton-products h2,.Skeleton-products h3  {
    height: 15px;
    width: 190px;
}

.Skeleton-products h1 {
    border-radius: 10px;
    height: 40px;
    width: 100%;
}

/* Skleton css of Best Seller */
.Skeleton-bestseller .selskeldiv1 {
    height: 50px;
    width: 20%;
}

.Skeleton-bestseller h2,.Skeleton-bestseller h3 {
    height: 15px;
    width: 100px;
}

